:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* Start Box */

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.space-between {
    justify-content: space-between;
}

.flex-d-column {
    flex-direction: column;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.d-block {
    display: block;
}

/* End Box */
/* Start Padding + Margin */
.p-7 {
    padding: 7px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.pt-3 {
    padding-top: 3px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pt-15 {
    padding-top: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-0 {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-10 {
    padding-right: 10px;
}

.m-20 {
    margin: 20px;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-35 {
    margin-top: 35px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-40 {
    margin-left: 40px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-100 {
    width: 100px;
}

.w-80 {
    width: 80px;
}

.w-60 {
    width: 60px;
}

.w-50 {
    width: 50px;
}

.w-40 {
    width: 40px;
}

.w-30 {
    width: 30px;
}
.w-20 {
    width: 20px;
}

.w-15 {
    width: 15px;
}

.h-full {
    height: 100%;
}

.h-150 {
    height: 150px;
}

.h-35 {
    height: 35px;
}

.h-15 {
    height: 15px;
}

.line-h {
    line-height: 1.6;
}

.line-h-8 {
    line-height: 1.8;
}

/* End Padding + Margin */
/* Start Colors */

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.c-black {
    color: black;
}

.c-grey {
    color: var(--grey-color);
}

.c-white {
    color: white;
}

.c-blue {
    color: var(--blue-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-green {
    color: green;
}

.c-red {
    color: var(--red-color);
}

/* End Colors */
/* Start Position */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.opacity-0 {
    opacity: 0;
}

/* End Position */

/* Start Font */

.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

.fw-500 {
    font-weight: 500;
}

.fw-bold {
    font-weight: bold;
}

.l-spacing-1 {
    letter-spacing: -1px;
}

/* End Font */

/* Start Border */

.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rad-60 {
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.rad-50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* End Border */
/* Start Mobile */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .txt-c-mobile {
        text-align: center;
    }

    .block-mobile {
        display: block;
    }

    .flex-d-column-mobile {
        flex-direction: column;
    }

    .mobile-line-h {
        line-height: 1.6;
    }
}

/* End Mobile */
/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.b-none {
    border: none;
}

.b-ccc {
    border: 1px solid #ccc;
}
.b-t-eee {
    border-top: 1px solid #eee;
}

.b-b-eee {
    border-bottom: 1px solid #eee;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

/* End Components */